.extrenal {
  margin: 10px;
  text-align: justify;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button {
  background-color: #5f85a1;
  color: white;
  padding: 10px 20px;
  border-radius: 2px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 1s ease;
}
button:hover {
  background-color: #121ea4;
  background-blend-mode: darken;
  transform: scale(1.1);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  max-width: 1000px;
  margin: 20px auto;
}
.gallery img {
  width: 100%;
  height: auto;
  display: block;
  border: 0;
}
